<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url=${url}">
        <title>Logging out</title>
    </head>
    <body  onload="window.location = '${url}'">
        If you are not redirected automatically,click <a href='${url}'>Login</a>.
    </body>
</html>